   
    body{
        background-color: #ffffff;
       
        color: #e1e2e2;
    margin: 0;
    padding: 0;
    font-family:  garamond light;
  
    
    
    }
    p{
        font-family: helvetica;
    }



.arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.5s;
}

.arrow:hover {
    scale: 1.05;
}


    .Section1{
        width: 100%;
        height: 700px;
        background-color: #121212;
        position: relative;
   box-shadow: 0px 0px 10px 0px white;
    }


.Split-section1{
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 100%;
    
}
.Split-section1 div{
    
   
    padding: 30px;
}


.text {
   display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: flex-start;
  width: 60%;
  height: 100%;           


}

body h1:hover,
body p:hover{
    cursor: pointer;
}

.text p{
display: inline-block;
text-decoration: none;


}

.text p::after{
    content: "";
    height: 2px;
    width: 1%;
    display: inline-block;
    background-color: transparent;
    transition: 1s;
    
}

.text p:hover::after{
width: 100%;
    background-color:#478cbf;
  

}

.text h1{
    display: inline-block;
}

.image{
    width: 100%;
display: flex;
align-items: center;
justify-content: center;

}

.image img{
    height: 100px;
    width: 300px;
   
    transition: 0.5s;
}


.image img:hover{
    scale: 1.2;
    cursor: pointer;
}


.Section2{
    height: 600px;
    background-color: #1a1a1a;
}


.Split-section2{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.Split-section2 div{
    width: 100%;
   
    padding: 30px;
}
.text2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  
.text2 h1{
    text-decoration: none;
    display: inline-block;
    
}

.text2 h1::after{
    content: "";
   display: inline-block;


width: 1%;
height: 2px;
background-color: transparent;
transition: 0.5s;

}

.text2 h1:hover::after{
    width: 100%;
background-color: #478cbf;

}



iframe{transition: 0.5s;}
iframe:hover{scale: 1.01;}


.Section3{
     height: 1000px;
    width: 100%;
   background-color: #111111;
   overflow: hidden;
 
 text-align: center;
}


.grid-wrapper2{
    width: 100%;
    height: 86%;
    display: grid;
    place-items: center;

}


.grid-layout2{
    width: 75%;
    height: 90%;
  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 30px;
}

.boxes2{
     background-color: #1a1a1a;
    border: solid 1px #333333;
    padding: 30px;
    word-wrap: break-word;
    
    border-radius: 10px;
    height: 300px;
    width: 300px;
    
    transition: 0.5s;
}

.boxes2:hover{
       border-color:#478cbf ;
    box-shadow: 0px 0px 15px 0.5px #478cbf;
}

.boxes2 h1{
    color:#478cbf;
}
.boxes2 p{
    color: white;
}
